* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: #875176;
}

#container {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid black;
  background: #80bd57;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0;
}

#display {
  margin: 70px;
  padding: 30px;
  border: 2px solid black;
  background: #404347;
  color: #80bd57;
  border-radius: 10px;
  text-align: center;
  font-size: 55px;
}

button {
  margin-right: 45px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background: #2a6ad1;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
     body {
       margin: -50px;
     }
     
     #container {
       margin-top: 200px;
       margin-right: 80px;
       margin-bottom: 80px;
       margin-left: 80px;
     }
     
     #display {
        margin: 10px;
        font-size: 35px;
     }
     
     button {
       margin-top: 10px;
       margin-left: 30px;
       margin-right: 10px;
       margin-bottom: 10px;
       padding-top: 10px;
       padding-left: 100px;
       padding-right: 100px;
       padding-bottom: 10px;
       font-size: 15px;
     }
     
     
     
}
